-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
-f https://iree.dev/pip-release-links.html
--pre

setuptools
wheel

torch>=2.3.0
shark-turbine @ git+https://github.com/nod-ai/SHARK-Turbine.git@ean-sdxl-fixes#subdirectory=core
turbine-models @ git+https://github.com/nod-ai/SHARK-Turbine.git@ean-sdxl-fixes#subdirectory=models
diffusers @ git+https://github.com/nod-ai/diffusers@v0.24.0-release

# SHARK Runner
tqdm

# SHARK Downloader
google-cloud-storage

# Testing
pytest
pytest-xdist
pytest-forked
Pillow
parameterized

# Add transformers, diffusers and scipy since it most commonly used
#accelerate is now required for diffusers import from ckpt.
accelerate
scipy
ftfy
gradio==4.19.2
altair
omegaconf
# 0.3.2 doesn't have binaries for arm64
safetensors==0.3.1
py-cpuinfo
pydantic==2.4.1 # pin until pyinstaller-hooks-contrib works with beta versions
mpmath==1.3.0
optimum

# Keep PyInstaller at the end. Sometimes Windows Defender flags it but most folks can continue even if it errors
pefile
pyinstaller
