-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre

numpy
torch
torchvision

tqdm

#iree-compiler  | iree-runtime should already be installed
iree-tools-tflite
iree-tools-xla
iree-tools-tf

# TensorFlow and JAX.
gin-config
tensorflow
tf-models
tensorflow-text
transformers
#jax[cpu]


# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml

#ONNX and ORT for benchmarking
--extra-index-url https://test.pypi.org/simple/
protobuf
coloredlogs
flatbuffers
sympy
psutil
onnx-weekly
ort-nightly
