-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre

numpy==1.22.4
torch
torchvision

tqdm

#iree-compiler  | iree-runtime should already be installed
iree-tools-tflite
iree-tools-xla
iree-tools-tf

# TensorFlow and JAX.
gin-config
tensorflow
#tf-models-nightly
#tensorflow-text-nightly
transformers==4.21.2
#tensorflow-probability
#jax[cpu]


# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml
python-dateutil

#ONNX and ORT for benchmarking
#--extra-index-url https://test.pypi.org/simple/
#protobuf
#coloredlogs
#flatbuffers
#sympy
#psutil
#onnx-weekly
#ort-nightly
