-f https://github.com/nod-ai/SHARK-Runtime/releases
#iree-compiler should already be installed
#iree-runtime
iree-tools-tflite
iree-tools-xla
iree-tools-tf

# TensorFlow and JAX.
gin-config
tensorflow
tf-models-nightly
tensorflow-text-nightly
transformers
jax[cpu]


# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml
