-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre

setuptools
wheel

# SHARK Runner
tqdm

# SHARK Downloader
google-cloud-storage

# Testing
pytest
pytest-xdist
pytest-forked
Pillow
parameterized

# Add transformers, diffusers and scipy since it most commonly used
tokenizers==0.13.3
transformers
diffusers
#accelerate is now required for diffusers import from ckpt.
accelerate
scipy
ftfy
gradio==3.44.3
altair
omegaconf
# 0.3.2 doesn't have binaries for arm64
safetensors==0.3.1
opencv-python
scikit-image
pytorch_lightning # for runwayml models
tk
pywebview
sentencepiece
py-cpuinfo
tiktoken # for codegen
joblib # for langchain
timm # for MiniGPT4
langchain

# Keep PyInstaller at the end. Sometimes Windows Defender flags it but most folks can continue even if it errors
pefile
pyinstaller

# vicuna quantization
brevitas @ git+https://github.com/Xilinx/brevitas.git@dev
