
/* SHARK theme */

.gradio-container {
    background-color: var(--color-background-primary);
}

.container {
    background-color: black !important;
    padding-top: 20px !important;
}

#ui_title {
    padding: 10px !important;
}

#top_logo {
    background-color: transparent;
    border-radius: 0 !important;
    border: 0;
}

#demo_title {
    background-color: var(--color-background-primary);
    border-radius: 0 !important;
    border: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 350px !important;
}

#demo_title_outer {
    border-radius: 0;
}

#prompt_box_outer div:first-child {
    border-radius: 0 !important
}

#prompt_box textarea {
    background-color: var(--color-background-primary) !important;
}

#prompt_examples {
    margin: 0 !important;
}

#prompt_examples svg {
    display: none !important;
}

#ui_body {
    background-color: var(--color-background-secondary) !important;
    padding: 10px !important;
    border-radius: 0.5em !important;
}

#img_result+div {
    display: none !important;
}

footer {
    display: none !important;
}
